<!DOCTYPE html>
<html>
<head>
  <% include ./head.ejs %>
</head>
<body>
  <div id="wrapper">
    <% include ./nav.ejs %>
    <div id="page-wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <h1 class="page-header">
              Dashboard <small>Statistics Overview</small>
            </h1>
            <ol class="breadcrumb">
              <li class="active">
                <i class="fa fa-dashboard"></i> Dashboard
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="/vendor/jquery-2.2.3.min.js"></script>
  <script src="/vendor/jquery.form.min.js"></script>
  <script src="/vendor/bootstrap.min.js"></script>
</body>
</html>