<!DOCTYPE html>
<html>
<head>
  <% include ./head.ejs %>
</head>
<body>
  <div id="wrapper">
    <% include ./nav.ejs %>
  </div>

  <script src="/vendor/jquery-2.2.3.min.js"></script>
  <script src="/vendor/jquery.form.min.js"></script>
  <script src="/vendor/bootstrap.min.js"></script>
</body>
</html>