<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./login-head.ejs %>
</head>
<body>
  <input type="hidden" id="userId">
  <div id="account-form-container" class="center-vertical">
    <form method="post" id="account-form" class="form-horizontal well">
      <h2></h2>
      <h6 id="sub1"></h6>
      <hr>
      <div id="name-cg" class="form-group">
        <label class="control-label col-sm-3">이름</label>
        <div class="col-sm-9">
          <input type="text" id="name-tf" name="name" class="form-control">
        </div>
      </div>
      <div id="email-cg" class="form-group">
        <label class="control-label col-sm-3">이메일</label>
        <div class="col-sm-9">
          <input type="text" id="email-tf" name="email" class="form-control">
        </div>
      </div>
      <hr>
      <h6 id="sub2"></h6>
      <div id="user-cg" class="form-group">
        <label class="control-label col-sm-3">계정이름</label>
        <div class="col-sm-9">
          <input type="text" id="user-tf" name="user" class="form-control disabled">
        </div>
      </div>
      <div id="pass-cg" class="form-group">
        <label class="control-label col-sm-3">비밀번호</label>
        <div class="col-sm-9">
          <input type="password" id="pass-tf" name="pass" class="form-control">
        </div>
      </div>
      <hr>
      <div class="form-buttons">
        <button type="button" id="account-form-btn1" class="btn btn-default"></button>
        <button type="submit" id="account-form-btn2" class="btn btn-primary"></button>
      </div>
      <div class="clearfix"></div>
    </form>
  </div>

  <% include ../modals/form-errors.ejs %>

  <% include ../modals/alert.ejs %>

  <script src="/vendor/jquery-2.2.3.min.js"></script>
  <script src="/vendor/jquery.form.min.js"></script>
  <script src="/vendor/bootstrap.min.js"></script>
  <script src="/js/views/signup.js"></script>
  <script src="/js/form-validators/accountValidator.js"></script>
  <script src="/js/controllers/signupController.js"></script>
</body>
</html>