<div id="get-credentials" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" class="close"> x </button>
        <h4>비밀번호 조회</h4>
      </div>
      <div class="modal-body">
        <form method="post" id="get-credentials-form" class="well">
          <div class="form-group">
            <label>이메일을 입력해주세요</label>
            <input type="text" id="email-tf" name="email" class="form-control required">
            <div class="alert alert-danger hide"></div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button data-dismiss="modal" id="cancel" class="btn btn-primary">Cancel</button>
        <button type="submit" id="retrieve-password-submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>