<div id="set-password" class="modal show">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4>비밀번호 재설정</h4>
      </div>
      <div class="modal-body">
        <form method="post" id="set-password-form" class="well">
          <div class="form-group">
            <label>새로운 비밀번호를 입력해주세요</label>
            <input type="password" name="pass" id="pass-tf" class="form-control required">
            <div class="alert alert-danger hide"></div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" form="set-password-form" id="set-password-submit" class="btn btn-primary">제출</button>
      </div>
    </div>
  </div>
</div>